body{
    background-color: #D9D9D9;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f8f8f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }

header{
    background-image: url('../img/bg-header.png');
    background-position: center;
    background-size: cover;
    background-size: fixed;
    min-height: 100vh;
}

nav{
    width: 100%;
    background-color: #0DA643;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}


nav #logo{
    padding-left: 2%;
    padding-top: 5px;
   
}

#logo a{
    text-decoration: none;
    color: #13F261;
}
nav #logo h1{
    font-family: 'Teko';
    font-size: 3rem;
}

nav ul{
    width: 30%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
}

nav ul li a{
    font-family: 'Space Mono';
    text-decoration:none;
    font-size: 1.3rem;
    color: white;
    transition: 0.3s color;
}

nav ul li a:hover{
    color: #2e2e2e;
}

.header-content{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3%;
}

.header-content h1{
    font-family: 'teko';
    font-size: 10rem;   
    color: #16F275;
}

.header-content p{
    font-family: 'Space Mono';
    color:white;
    font-size: 2rem;
    width: 60%;
    line-height: 3.2rem;
}

#cursos{
    min-height: 94vh;
}

.head-cursos{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

#title-cursos{
    font-family: 'Teko';
    font-size: 4.5rem;
    color: #393939;
}

.search-bar{
    background-color: white;
    padding:2px 10px;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.search-bar i{
    color: #B3B3B3;
}

.search-bar input{
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    font-family: 'Space Mono';
    color: #393939;
}

.container-cursos{
    width: 95%;
    margin-top: 40px;
}

.curso{
    display: flex;
    align-items: center;
    background-color: #393939;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    border-radius: 15px;
    height: 25vh;
    transition: 0.3s transform;
}

.curso:hover{
    transform: scale(1.02);
    /* box-shadow: 0 0 10px #4d4d4d; */
}



.curso-row{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.curso-row a{
    width: 22.5%;
    text-decoration: none;
    color: unset;
}

.curso-window{
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}

.curso-window i{
    color: #13F261;
    font-size: 4rem;
}

.curso h5{
    font-family: 'Teko';
    color:#16F275;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- CSS DAS AULAS --*/

.container-aula{
    height:auto;
    display: flex;
}

.side-bar, .container-video{
    min-height: 93vh;
}

.side-bar{
    display: flex;
    font-family: 'Teko';
    top: 0;
    position: sticky;
}

.side-bar .itens{
    background-color: #393939;
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 20px 0 0 20px;
}

.title-sidebar{
    color: white;
    font-size: 1.75rem;
}

.aulas-links{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.aulas-links a{
    margin-top: 10%;
    text-decoration: none;
    color: #B3B3B3;
    display: flex;
    align-items: center;
    font-size: 1.70rem;
    transition: 0.3s color;
}

.aulas-links a:hover{
    color: #4deb91;
}

.active-class{
    color: #16F275!important;
    font-weight: 500;
}

.aulas-links span{
    margin-bottom: 5px;
    margin-right: 2%;
}

.ctrl-nav{
    font-size: 3.5rem;
    color: #626262;
    cursor: pointer;
}

.ctrl-nav:hover{
    color: #055a23;
}

.container-video{
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 100%;
    flex-direction: column;
}

.container-video iframe{
    width: 50vw;
    height: 60vh;
}

.title-aula{
    width: 55vw;
    margin: 4% 0 2% 0;
}

.title-aula h1{
    font-family: 'Teko';
    font-size: 3rem;
    color: #393939;
}

.info-aula{
    width:50vw ;
    font-family: 'Teko';
    margin-top: 3%;
}

.author{
    font-size: 2rem;
    color: #393939;
}

.desc-aula{
    margin-top: 1%;
    color: #797979;
    font-size: 1.5rem;
    margin-bottom: 4%;
}

